.card_container {
  width: 250px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 16px;
  color: black;
  position: relative;
}
.card_container:hover .button {
  display: block;
}

.card_container img {
  max-height: 200px;
  max-width: 100%;
  object-fit: contain;
  padding: 10px;
}
.button {
  display: none;
  background-color: #ffd814;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 700px;
  border: none;
  border-radius: 30px;
  width: 100%;
  position: absolute;
  bottom: 2px;
  right: 1px;
}

.rating {
  display: flex; 
  padding: 10px 0px;
  font-size: 0.875rem;
}

.productlist_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  max-width: 1450px;
  margin: 100px 50px 100px 50px;
  gap: 30px;
  justify-items: center;
}
.productlist_container div {
  margin: 0 auto;
}
.singleProductWrapper{
  width: 100%;
}
/* if flex true */
.product_flexd {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  width: 100% !important;
  box-shadow: none;
  padding: 40px;
 
}

.product_flexd  img {
  width: 250px !important;
  height: auto;
  display: block;
  max-height: none !important;
  object-fit: contain;
}
.product_flexd h3{
  padding: 20px 0px;
}
.product_info {
  flex: 1;
}

.product_flexd .button {
  display: block;
  position: static;
  width: 150px;
  margin-right: 40px;
  margin-top: 6px;
}
@media (max-width:769px) {
 .product_flexd{
  display: flex;
 } 
}